.card {
    transition: 0.1s;
    border-radius: 2vw 5vw;
    padding: 2vw;
    margin: 4vw;
    box-shadow: 1vw 1vw 2vw 0vw rgba(0, 0, 0, 0.2);
    background: white;
    color: black;
}

.btn {
    transition: 0.1s;
    border-radius: 2vw;
    padding: 1vw;
    margin: 1vw;
    box-shadow: 1vw 1vw 2vw 0vw rgba(0, 0, 0, 0.2);
    background: white;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
}

.hoverable:hover {
    box-shadow: 0vw 0vw 4vw 0vw white;
}

.container {
    padding: 2vw 15vw;
}

.exContainer {
    padding: 15vh 15vw;
}

h1 {
    font-size: 50px;
}


/* for background theme */

body {
    background: #d500f9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #d500f9, #f50057);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d500f9, #f50057);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(45deg, #d500f9 0%, #f50057 100%);
    color: white;
}

.center {
    text-align: center;
    margin: auto;
    display: block;
}

#footer img {
    vertical-align: middle;
    padding: 1vh;
}

#footer span {
    font-size: 25px;
}

.flexbox {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}


/* remove default unwanted html margin and padding to avoid scroll bar */

body,
html {
    margin: 0;
    padding: 0;
}